[submodule "gitmodulechild"]
	path = gitmodulechild
	url = https://github.com/AlanMullett/gitmodulechild.git
[submodule "tl-platform-building-blocks"]
	path = tl-platform-building-blocks
	url = https://github.com/SkillsFundingAgency/tl-platform-building-blocks.git
	branch = master
[submodule "funding-platform-building-blocks"]
	path = funding-platform-building-blocks
	url = https://github.com/SkillsFundingAgency/funding-platform-building-blocks.git
